@page "/cascading"

<h1 style="background-color: @Config.CorFundo; font-size: @Config.TamanhoFonte">Cascading Values</h1>

<CascadingValue Value="@Resposta">
    <Pergunta></Pergunta>
</CascadingValue>

@code{
    string Resposta = "A parada é irada!!";
}

@code{
    
    [CascadingParameter] Config Config { get; set; }
}