@page "/counter"
@page "/counter/{incremento:int}"
@page "/counter/{texto}"
@page "/counter/{incremento:int}/{texto}"
@page "/counter/1"
@page "/counter/2"


<h3>Counter</h3>
<a href="/">Atalho para Home</a>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
<h1>@Texto</h1>

@code {
    [Parameter]
    public int Incremento { get; set; }

    [Parameter]
    public string Texto { get; set; } = "Blazor";

    int currentCount = 0;
    void IncrementCount()
    {
        Texto = Texto ?? "O blazor é incrível";
        currentCount = currentCount + Incremento;
    }
}
