@page "/databinding"
@inject ServiceSingleton singleton
@inject ServicoScoped scoped
@inject ServicoTransient transient

<h1>@nome</h1>

<hr />

<input @bind="nome" />
<hr />
<input @bind-value="nome" @bind-value:event="oninput"/>
<p>Singleton @singleton.Valor</p>
<p>Scoped @scoped.Valor</p>
<p>Transient @transient.Valor</p>



@code {
    public string nome { get; set; } = "Blazor";
}